<a href="https://colab.research.google.com/github/cassioguide/carteira/blob/main/main.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Importando Bibliotecas

In [ ]:
!pip install gspread #Instalando pacote gspread
# !pip install yfinance --upgrade --no-cache-dir
# import yfinance as yf #pacote que disponibiliza informações de cotações de ativos financeiros
import numpy as np #biblioteca para processamento de matrizes e funções matematicas de alto nivel
import pandas as pd #biblioteca para manipulação e análise de dados
# import matplotlib.pyplot as plt #biblitoteca para criação de gráficos e visualizações de dados
# import seaborn as sns #biblioteca uma das mais poderosas para plotagem de varios tipos de gráficos. Indicada para análise exploratória de dados

# Desenvolvimento

## Conectando ao *GSheets*

>Importando bibliotecas do google e realizando autenticação

In [2]:
from google.colab import auth
auth.authenticate_user()

import gspread
from google.auth import default
creds, _ = default()

gc = gspread.authorize(creds) #objeto gc recebe autorização para acesso ao google sheets

sh = gc.open_by_key("1gfMR6PLSuxn1t6BuoVp6FsQJUbjCouwCaPQqIs-qqxo") #sh recebeo arquivo aberto com objeto gc

Operacoes = sh.worksheet("oper") #Operaçoes recebe os dados da pasta de trabalho "oper" do arquivo "sh"

> Extraindo ativos negociados na carteira

In [ ]:
ticker_list = df['ticker'].tolist()

print(ticker_list)

# def remove_dups (list):
#   l=[]
#   for item in list:
#     if item not in l:
#       l.append(item)
#     #l.sort()
#     print(l)
#     return l


def remove_dups(lista):
    """Remove os itens duplicados mas não mantém a ordem original."""
    return list(set(lista)) #transforma a lista em set e depois transforma o set em uma lista novamente

ticker=remove_dups(ticker_list)
ticker.sort()
print(ticker)

['BCFF11', 'VISC11', 'GGRC11', 'GGRC11', 'GGRC11', 'KNRI11', 'BCFF11', 'HGRE11', 'VISC11', 'BCFF11', 'GGRC11', 'HGRE11', 'XPIN11', 'XPIN11', 'VISC11', 'XPIN11', 'FFCI11', 'HGRE11', 'KNRI11', 'VISC11', 'VLOL11', 'XPIN11', 'XPIN11', 'XPLG11', 'XPML11', 'BCFF11', 'FFCI11', 'GGRC11', 'HGRE11', 'KNRI11', 'VISC11', 'XPIN11', 'XPLG11', 'XPML11', 'RBGS11', 'XPIN11', 'XPLG11', 'JSRE11', 'BCRI11', 'BCRI11', 'JSRE11', 'JSRE11', 'JSRE11', 'RBGS11', 'BCRI11', 'JSRE11', 'XPML11', 'GGRC11', 'RCRB11', 'GGRC11', 'GGRC11', 'GGRC11', 'GGRC11', 'RBGS11', 'VLOL11', 'HSML11', 'VISC11', 'HSML11', 'HSML11', 'VISC11', 'XPML11', 'HSML11', 'XPML11', 'HGRE11', 'HGRE11', 'JSRE11', 'JSRE11', 'JSRE11', 'VILG11', 'VILG11', 'XPLG11', 'BCFF11', 'BCFF11', 'BCFF11', 'KNRI11', 'KNRI11', 'VISC11', 'HSML11', 'HSML11', 'BTLG11', 'VILG11', 'BCRI11', 'XPIN11', 'XPLG11', 'XPLG11', 'RBRP11', 'RBRP11', 'RBRP11', 'RBRP11', 'RBRP11', 'RBRP11', 'RBRP11', 'XPML11', 'XPML11', 'XPML11', 'XPML11', 'VILG11', 'VILG11', 'VILG11', 'BCRI11', 'BCRI11', 'RBRP11', 'RBRP11', 'BCRI11', 'RBRP11', 'RBRP11', 'BTLG11', 'BTLG11', 'BTLG11', 'XPLG11', 'XPLG11', 'XPLG11', 'RBRP11', 'RBRP11', 'RBRP11', 'RBRP11', 'RBRP11', 'BCRI11', 'BCRI11', 'BCRI11', 'VISC11', 'VISC11', 'RBRP11', 'BCRI11', 'HGBS11', 'BTLG11', 'PVBI11', 'RBRP11', 'KISU11', 'HGBS11', 'RBRP11', 'BCRI11', 'BTLG11', 'HGBS11', 'KISU11', 'RZTR11', 'KISU11', 'PVBI11', 'PVBI11', 'RBRP11', 'RZTR11', 'KISU11', 'BCRI11', 'KISU11', 'BTLG11', 'BTLG11', 'HGBS11', 'RBRP11', 'KISU11', 'KISU11', 'RBRP11', 'KISU11', 'KISU11', 'KISU11', 'KISU11', 'BTLG11', 'PVBI11', 'RBRP11', 'BTLG11', 'BTLG11', 'BTLG11', 'KISU11', 'KISU11', 'VISC11', 'VISC11', 'VISC11', 'VILG11', 'VILG11', 'VILG11', 'MALL11', 'MALL11', 'VILG11', 'VILG11', 'BTLG11', 'BTLG11', 'HGRU11', 'VILG11', 'VILG11', 'BTLG11', 'VILG11', 'VILG11', 'VILG11', 'VISC11', 'VISC11', 'BTLG11', 'LVBI11', 'MALL11', 'MALL11', 'HGRU11', 'MALL11', 'BTLG11', 'VILG11', 'VISC11', 'LVBI11', 'LVBI11', 'LVBI11', 'KISU11', 'MALL11', 'KISU11', 'LVBI11', 'KISU11', 'RBRP11', 'VILG11', 'KISU11', 'KISU11', 'KISU11', 'JSRE11', 'KISU11', 'JSRE11', 'KISU11', 'KISU11', 'JSRE11', 'JSRE11', 'BTLG11', 'EGIE3F', 'PVBI11', 'RBRP11', 'HGRU11', 'HGRU11', 'KISU11', 'KNIP11', 'PVBI11', 'BTLG11', 'PVBI11', 'RBRF11', 'RBRF11', 'BTLG11', 'KNIP11', 'PVBI11', 'PVBI11', 'PVBI11', 'RBRF11', 'RBRY11', 'BTLG11', 'BTLG11', 'EGIE3', 'EGIE3F', 'JSRE11', 'KISU11', 'KISU11', 'KISU11', 'KISU11', 'RBRF11', 'KNIP11', 'KNIP11', 'KNIP11', 'KNIP11', 'KISU11', 'PVBI11', 'MCCI11', 'MALL11', 'VISC11', 'JSRE11', 'JSRE11', 'JSRE11', 'JSRE11', 'VISC11', 'HSML11', 'HSML11', 'HSML11', 'HSML11', 'VISC11', 'MCCI11', 'HGRU11', 'KNSC11', 'KNSC11', 'HSML11', 'RBRY11', 'HSML11', 'JSRE11', 'VIVA3F', 'ALUP11', 'BBSE3', 'BBSE3', 'HTMX11', 'KNSC11', 'VISC11', 'HTMX11', 'HTMX11', 'RBRP11', 'RBRP11', 'RBRP11', 'RBRP11', 'RBRP11', 'RBRP11', 'RBRP11', 'RBRP11', 'JFLL11', 'JFLL11', 'JFLL11', 'JFLL11', 'JFLL11', 'HTMX11', 'HTMX11', 'JSRE11', 'HTMX11', 'BBAS3F', 'SULA11F', 'BBAS3', 'SULA11', 'JFLL11', 'JFLL11', 'JFLL11', 'HGRU11', 'HGRU11', 'HGRU11', 'HGRU11', 'HGRU11', 'HGRU11', 'HGRU11', 'HGRU11', 'HGRU11', 'HTMX11', 'HTMX11', 'HTMX11', 'JFLL11', 'JFLL11', 'JFLL11', 'JFLL11', 'JFLL11', 'JFLL11', 'KNSC11', 'HSML11', 'HSML11', 'HSML11', 'HSML11', 'HSML11', 'JFLL11', 'JFLL11', 'JFLL11', 'HTMX11', 'HTMX11', 'HTMX11', 'HTMX11', 'HSML11', 'HSML11', 'HSML11', 'HSML11', 'HSML11', 'HSML11', 'HSML11', 'HSML11', 'HSML11', 'HSML11', 'HSML11', 'HSML11', 'JFLL11', 'JFLL11', 'TRXF11', 'TRXF11', 'TRXF11', 'JFLL11', 'JFLL11', 'JFLL11', 'JFLL11', 'JFLL11', 'JFLL11', 'JFLL11', 'JFLL11', 'JFLL11', 'JFLL11', 'RBRF11', 'RBRF11', 'RBRF11', 'RBRF11', 'RBRF11', 'RBRF11', 'RBRF11', 'RBRF11', 'RBRF11', 'RBRF11', 'RBRF11', 'RBRF11', 'RBRF11', 'RBRF11', 'RBRF11', 'RBRF11', 'LVBI11', 'LVBI11', 'LVBI11', 'LVBI11', 'LVBI11', 'LVBI11', 'LVBI11', 'LVBI11', 'LVBI11', 'LVBI11', 'LVBI11', 'LVBI11', 'LVBI11', 'LVBI11', 'LVBI11', 'LVBI11', 'LVBI11', 'LVBI11', 'VISC11', 'VISC11', 'VISC11', 'VISC11', 'VISC11', 'VISC11', 'VISC11', 'VISC11', 'LVBI11', 'TRXF11', 'MCCI11', 'MCCI11', 'MCCI11', 'MCCI11', 'MCCI11', 'MCCI11', 'MCCI11', 'MCCI11', 'MCCI11', 'MCCI11', 'MCCI11', 'MCCI11', 'MCCI11', 'MCCI11', 'MCCI11', 'MCCI11', 'MCCI11', 'MCCI11', 'MCCI11', 'MCCI11', 'MCCI11', 'RBRP11', 'RBRP11', 'RBRP11', 'TRXF11', 'TRXF11', 'TRXF11', 'TRXF11', 'JFLL11', 'JFLL11', 'JFLL11', 'JFLL11', 'MCCI11', 'MCCI11', 'MCCI11', 'MCCI11', 'MCCI11', 'MCCI11', 'MCCI11', 'HGLG11', 'HGLG11', 'HGLG11', 'MCCI11', 'HGLG11', 'KNIP11', 'KNIP11', 'HGLG11', 'HGLG11', 'LVBI11', 'JFLL11', 'TRXF11', 'JFLL11', 'JSRE11', 'HTMX11', 'MCCI11', 'HGLG11', 'TRXF11', 'KNIP11', 'VISC11', 'TRXF11', 'HGRU11', 'KISU11', 'RBRP11', 'RBRP11', 'MALL11', 'VISC11', 'HGRU11', 'KISU11', 'MALL11', 'RBRP11', 'TRXF11', 'VISC11', 'VILG11', 'VISC11', 'JFLL11', 'ALZR11', 'MALL11', 'RBRP11', 'HSML11', 'VILG11', 'ALZR11', 'KISU11', 'HSML11', 'LVBI11', 'VISC11', 'KISU11', 'HSML11', 'KISU11', 'HGLG11', 'KISU11', 'HGLG11', 'KISU11', 'HGLG11', 'HTMX11', 'HGLG11', 'ALZR11', 'JFLL11', 'HTMX11', 'BTLG11', 'HSML11', 'KISU11', 'VILG11', 'ALZR11', 'ALZR11', 'HGLG11', 'ALZR11', 'ALZR11', 'AIEC11', 'HSML11', 'HGLG11', 'VILG11', 'VISC11', 'KNIP11', 'VISC11', 'HSML11', 'HSML11', 'LVBI11', 'VILG11', 'AIEC11', 'AIEC11', 'HGLG11', 'AIEC11', 'KISU11', 'KNSC11', 'HSML11', 'BTLG11', 'AIEC11', 'HGLG11', 'KNSC11', 'AIEC11', 'HSML11', 'ALZR11', 'HGLG11', 'LVBI11', 'BTLG11', 'JFLL11', 'KNSC11', 'TRXF11', 'VILG11', 'BTLG11', 'TRXF11', 'JSRE11', 'BTLG11', 'TRXF11', 'ALZR11', 'AIEC11', 'JFLL11', 'BTLG11', 'TRXF11', 'KISU11', 'PLCR11', 'PLCR11', 'PLCR11', 'PLCR11', 'PLCR11', 'PLCR11', 'PLCR11', 'PLCR11', 'CVBI11', 'TRXF11', 'TRXF11', 'PLCR11', 'BTLG11', 'PLCR11', 'PLCR11', 'TRXF11']
['AIEC11', 'ALUP11', 'ALZR11', 'BBAS3', 'BBAS3F', 'BBSE3', 'BCFF11', 'BCRI11', 'BTLG11', 'CVBI11', 'EGIE3', 'EGIE3F', 'FFCI11', 'GGRC11', 'HGBS11', 'HGLG11', 'HGRE11', 'HGRU11', 'HSML11', 'HTMX11', 'JFLL11', 'JSRE11', 'KISU11', 'KNIP11', 'KNRI11', 'KNSC11', 'LVBI11', 'MALL11', 'MCCI11', 'PLCR11', 'PVBI11', 'RBGS11', 'RBRF11', 'RBRP11', 'RBRY11', 'RCRB11', 'RZTR11', 'SULA11', 'SULA11F', 'TRXF11', 'VILG11', 'VISC11', 'VIVA3F', 'VLOL11', 'XPIN11', 'XPLG11', 'XPML11']

## Definição de Objetos

In [ ]:
class Ativo (Carteira):
  def__init__(self, ticker, CNPJ)

  def PM:
    return PM
  
  def PMAjustado:
    return PM_Ajustado
  

class Carteira:
  
  def__init__(self, nome):
    self.nome = nome

  def YOC:
    return YOC

  def DY:
    return DY
  
  def Rentabilidade:
    return Rentabilidade
    
  def Rendimentos:
    return Rendimentos
  
  def AporteDoMes:
    return AporteDoMes

## Iniciando uma carteira

### Saneamento do dataframe dos dados de Operações

>
1. REMOVER "R$" DO PREÇO
2. TRANSFORMA A COLUNA PREÇO EM NUMERICO
3. CRIAR UMA COLUNA "TOTAL" TOTALIZANDO A MULTIPLICAÇÃO ENTRE A QUANTIDADE E O PREÇO
4. DISTRIBUIR PROPORCIONALMENTE AS TAXAS DE NOTA DE CORRETAGEM ENTRE AS OPERAÇÕES REALIZADAS NO DIA
5. INCORPORAR TAXAS AO CALCULO DO PREÇO MEDIO (ACRESCENTAR POSTERIORMENTE)
6. REMOVER "F" DE ATIVOS COM OPERAÇÕES FRACIONADAS
7. ATUALIZAR TICKERS COM BASE NO SEU CÓDIGO ATUAL

In [59]:

dfOperacoes= pd.DataFrame(Operacoes.get_all_records()) #Iniciado data frame com os dados de Operacoes

dfOperacoes.head()

dfPM=dfOperacoes.query('ticker == "PLCR11" & tipo == "C"')

In [48]:
dfPM.head()

,data,categoria,ticker,tipo,quantidade,preço,corretora,,Corretagem,Taxas,Impostos,IRRF
429,13/09/2022,FII's,PLCR11,C,70,"R$ 86,23",BANCO INTER S.A.,,,,,
430,20/09/2022,FII's,PLCR11,C,90,"R$ 86,55",BANCO INTER S.A.,,,,,
431,26/09/2022,FII's,PLCR11,C,35,"R$ 86,40",BANCO INTER S.A.,,,,,
432,27/09/2022,FII's,PLCR11,C,15,"R$ 85,55",BANCO INTER S.A.,,,,,
433,28/09/2022,FII's,PLCR11,C,70,"R$ 85,65",BANCO INTER S.A.,,,,,

In [ ]:
dfPM['total']=df.apply(lambda x: x['quantidade']*x['preço'], axis=1)

In [ ]:
dfPM['quantidade'].sum()

> PARA INSTANCIAR UM OBJETO SERÁ UTILIZADO COMO ENTRADA UM DATA FRAME COM TODAS AS OPERAÇÕES REALIZADAS COM O ATIVO